<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="bootstrap.min.css" />

    <title><%=pageTitle%></title>
</head>

<body>
    <!-- navbar -->

    <!-- navbar -->

    <!-- if user choose dark mode, change to dark mode, else change to light mode -->
    <%if(settings.darkMode){%>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4 px-0">
        <%}else{%>
        <nav class="navbar navbar-expand-lg navbar-light bg-light py-4 px-0">
            <%}%>
            <div class="container d-flex flex-column flex-md-row">
                <a class="navbar-brand fw-bolder text-uppercase me-5 col" href="/">Book Archive</a>
                <form class="d-flex col mt-4 mt-md-0" role="search" action="/search">
                    <input class="form-control me-2 p-3" type="search" name="q" placeholder="Search" aria-label="Search" />
                    <%if(settings.darkMode){%>
            <button class="btn btn-danger  px-4" type="submit">Search</button>
            <%}else{%>
            <button class="btn btn-success text-white px-4" type="submit">Search</button>
            <%}%>

                </form>
            </div>
    </nav>

    <div class="container mt-5 d-flex flex-column align-items-center">
        <h1 class="mb-5"><%=pageTitle%></h1>
            <%if (book){%>
            <form class="addbock text-center" method="POST" action="/editbook">
                <%}else{%>
                <form class="addbock text-center" method="POST" action="/addbook">
                    <%}%>
                <%if (book){%>
                    <input type="hidden" name="id" value="<%=book.id%>">

                    <%}%>

                <div class="mb-3">
                    <%if (book){%>
                    <input type="text" name="title" class="form-control p-3 rounded-1" placeholder="Enter book title" value="<%=book.title%>">
                    <%}else{%>
                    <input type="text" name="title" class="form-control p-3 rounded-1" placeholder="Enter book title">
                    <%}%>

                </div>
                <div class="mb-3">
                    <%if (book){%>
                    <input type="text" name="author" class="form-control  p-3 rounded-1" placeholder="Enter book author name" value="<%=book.author%>">
                    <%}else{%>
                    <input type="text" name="author" class="form-control  p-3 rounded-1" placeholder="Enter book author name">
                    <%}%>
                </div>
                <button type="submit" class="btn btn-primary py-2 px-4">
                    <%if (book){%>
                    Update Book
                    <%}else{%>
                    Add Book
                    <%}%>
                </button>
            </form>

            </div>
            <script src="/bootstrap.bundle.min.js"></script>

</body>

</html>